<header>

  <div class="logo">
    <a href="{{ site.github.url }}/">
    <img src="/sd-logo.svg"
      onmouseover="this.src='/sd-logo-hover.svg'"
      onmouseout="this.src='/sd-logo.svg'"
      alt="synthetic dark"
      height="40"
      width="40"
      align="top
      "
     /></a>

    <a href="{{ site.github.url }}/">{{ site.title }}</a>

  </div>
  <nav>
    {% for item in site.data.settings.menu %}
      <a href="{{ site.github.url }}/{{ item.url }}">{{ item.name }}</a>
    {% endfor %}
  </nav>
</header>
